@model watchShop.Models.Category.Create

@{
    ViewData["Title"] = "Create Category";
}

<nav aria-label="breadcrumb" class="float-right">
    <ol class="breadcrumb has-arrow">
        <li class="breadcrumb-item">
            <a href="\">Category</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Category" asp-action="Create">Create Category</a>
        </li>
    </ol>
</nav>
<br />
<h3>Create Category</h3>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Category" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="Status" class="form-check-input" />
                <label asp-for="Status" class="form-check-label"></label>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                    <i class="mdi mdi-checkbox-multiple-marked-circle"></i> Submit
                </button>
                <a asp-action="Index" class="btn btn-dark"><i class="mdi mdi-chevron-left"></i>Back</a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="mdi mdi-export"></i> Close</button>
                            <button type="submit" class="btn btn-success"> <i class="mdi mdi-checkbox-multiple-marked-circle"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}